body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.container{
    margin: 1rem;
    margin-top: 50%;
    padding: 20px;
    width: 80%;
    height: auto;
    background-color: rgb(46, 209, 237,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid blue;

}
.heading{
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    font-weight: bold;
    color: blue;
    text-align: center;
    text-shadow: 0 0 10px #535353, 0 0 20px #a6a9a9, 0 0 30px #f7fbfb;
  }
  .quote{
    font-family: cursive;
    color: gray;
  }
  .intro{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
  }
  .choose-topic{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h2{
    font-family: 'Courier New', Courier, monospace;

}
button{
    background-color: rgb(158, 198, 235);
    color: grey;
    width: 15rem;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
button:hover{
    background-color: aliceblue;
    color: blue;
    transform: scale(1.1);
    transition: 0.5s ease;
    cursor: pointer;
}
@media (min-width:1200px) {
    .container{margin: 150px;
    margin-top: 10%;}
}
@media (min-width:789px) {
    .container{margin: 100px;
    margin-top: 10%;}
}